.idea
.DS_Store
node_modules
/pantry-ui/build
/pantry-ui/.svelte-kit
.svelte-kit
/pantry-ui/package
/data_importer/build
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
pantry-ui/static/data
